/dts-v1/;
#include "sf19a2890.dtsi"

/ {
	model = "Siflower AC28 Evaluation Board";
	compatible = "siflower,ac28", "siflower,sf19a2890";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};
};

&uart0 {
	status = "okay";
};

&spi {
	status = "okay";
	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;	/* chip select */
		spi-max-frequency = <10000000>;

		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "spl-loader";
			reg = <0x0 0x20000>; /* 128k */
			read-only;
		};

		partition@20000 {
			label = "u-boot";
			reg = <0x20000 0x60000>; /* 384k */
		};

		partition@80000 {
			label = "u-boot-env";
			reg = <0x80000 0x10000>; /* 64k */
		};

		factory:partition@90000 {
			label = "factory";
			reg = <0x90000 0x10000>; /* 64k */
		};

		partition@a0000 {
			label = "firmware";
			reg = <0xa0000 0xf60000>; /* 640k-16M */
		};
	};
};