/dts-v1/;
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>
#include "sf19a2890.dtsi"

/ {
	model = "Siflower AC28 Evaluation Board";
	compatible = "siflower,ac28", "siflower,sf19a2890";

	aliases {
		led-boot = &led_status;
		led-failsafe = &led_status;
		led-running = &led_status;
		led-upgrade = &led_status;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x8000000>;
	};

	leds {
		compatible = "gpio-leds";

		led_status: status {
			function = LED_FUNCTION_STATUS;
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&gpio 12 GPIO_ACTIVE_LOW>;
		};
	};

	keys {
		compatible = "gpio-keys";

		reset {
			label = "reset";
			gpios = <&gpio 27 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};
};

&gmac {
	status = "okay";
	phy-mode = "rgmii";
	/* not quite right here... */
	snps,ps-speed = <1000>;
	nvmem-cells = <&rgmii_delay_factory_b2>;
	nvmem-cell-names = "rgmii-delay";
	fixed-link {
		speed = <1000>;
		full-duplex;
		pause;
	};

	mdio {
		
	};
};

&uart0 {
	status = "okay";
};

&spi {
	status = "okay";
	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;	/* chip select */
		spi-max-frequency = <10000000>;

		#address-cells = <1>;
		#size-cells = <1>;

		partition@0 {
			label = "spl-loader";
			reg = <0x0 0x20000>; /* 128k */
			read-only;
		};

		partition@20000 {
			label = "u-boot";
			reg = <0x20000 0x60000>; /* 384k */
		};

		partition@80000 {
			label = "u-boot-env";
			reg = <0x80000 0x10000>; /* 64k */
		};

		factory:partition@90000 {
			label = "factory";
			reg = <0x90000 0x10000>; /* 64k */

			nvmem-layout {
				compatible = "fixed-layout";
				#address-cells = <1>;
				#size-cells = <1>;

				rgmii_delay_factory_b2: rgmii-delay@b2 {
					reg = <0xb2 0x4>;
				};
			};
		};

		partition@a0000 {
			label = "firmware";
			reg = <0xa0000 0x0>; /* 640k- */
		};
	};
};